.sub-header {
    padding: 64px;
    font-size: 32px;
    /* background: linear-gradient(left, #cccbcb, #979797); */
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(51, 51, 51);
    width: 100%;
    height: 45px;
    top: 121px;
    
    background: #D4DDD1 url(../../assets/header.png) top left;
    background-size: cover;
    background-repeat: no-repeat;
    /* http://admission.kmutt.ac.th/images/degree/header-3.jpg */
}

@media only screen and (max-width: 900px) {
    .sub-header {
        top: 71px;
    }
}
