.bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(left, #ba68c8, #4a148c); */
    background-color: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 600px;
    height: 365px;
    margin: 0 0.4rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #9b32ba;
    padding: 10px 20px;
}

.head-login {
    padding-top: 1rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    font-weight: 300;
}

.content-login {
    padding: 0.5rem 4rem;
}

@media screen and (max-width: 767px) {
    .login-box {
        height: 340px;
    }

    .head-login {
        font-size: 24px;
    }

    .content-login {
        padding: 0.5rem 1rem;
    }
}

hr {
    margin: 15px;
    background-color: #9b32ba;
    padding: 1px 0;
    border: none;
}

#root .ant-form-item {
    margin-bottom: 20px;
}

#root .login-form-button {
    margin-top: 6px;
    margin-bottom: 10px;
    width: 100%;
    /* background-color: #9b32ba; */
    background: linear-gradient(left, #ba68c8, #4a148c);
    border: 0px;
    /* border-color: #9b32ba; */
}

#root .login-form-button:disabled {
    color: #ffffff;
}

#root .login-form-button:hover,
#root .login-form-forgot:hover {
    opacity: 0.85;
}

#root .login-form-forgot {
    color: #9b32ba;
}

.ant-btn-clicked:after {
    border: 0 solid #9b32ba !important;
}
.ant-form,
.ant-input {
    font-family: "Kanit", sans-serif !important;
    font-size: 14px;
    color: #9b32ba;
}

.ant-btn {
    font-family: "Kanit", sans-serif !important;
    font-size: 14px;
}

.login-form-forgot:hover {
    text-decoration: underline;
}

.label {
    line-height: 1.6rem;
}

.ant-input:hover {
    border-color: #9b32ba !important;
}

.ant-input:focus {
    border-color: #9b32ba;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(247, 24, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(247, 24, 255, 0.2);
}
