#root .ant-card-meta-title {
    text-align: center;
    font-family: "kanit", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #9b32ba;
}

#root .ant-card-meta-description {
    text-align: center;
    font-family: "kanit", sans-serif;
    font-size: 14px;
    color: #c674df;
}

#root .ant-layout-content {
    /* padding: 0 calc(4%); */
    margin-bottom: 48px;
    margin-top: 121px;
}

#root .ant-card-cover > img {
    width: 210px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

#root .ant-card {
    border-radius: 10px;
}

#root .staff-box {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 7%;
    padding-top: 7%;
}

.pad-content {
    padding-left: 13%;
    padding-right: 13%;
}

.ant-layout-content {
    -webkit-animation: fadein .6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .6s; /* Firefox < 16 */
        -ms-animation: fadein .6s; /* Internet Explorer */
         -o-animation: fadein .6s; /* Opera < 12.1 */
            animation: fadein .6s;

            transition: all .5s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.ant-col-lg-8 {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    /* .pad-content {
        padding-left: 13% !important;
        padding-right: 13% !important;
    } */

    .ant-col-md-12 {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .pad-content {
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .staff-box {
        /* width: 100% !important; */
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .ant-col-sm-12 {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 576px) {
    .ant-card-cover > img {
        max-width: 240px !important;
        height: 300px !important;
    }

    .pad-content {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .staff-box {
        /* width: 100% !important; */
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .ant-col-xs-24 {
        display: flex;
        justify-content: center;
    }
}