#form-component .pad-content {
    padding-left: 20%;
    padding-right: 20%;
}

#root .ant-table-tbody > .ant-table-row > td > span {
}

#root .ant-table-tbody > .ant-table-row > td > a {
    /* color: #9b32ba; */
    color: rgb(92, 92, 92);
    font-family: "kanit", sans-serif;
    font-size: 14px;
}

#root .ant-table-thead > tr > th {
    background-color: rgb(255, 127, 52);
    /* text-align: center; */
}

#root .ant-table-thead > tr > th > span {
    color: #ffffff;
    font-family: "kanit", sans-serif;
    font-size: 16px;
}

/* #root .ant-pagination-item-active,
#root .ant-pagination-item-active:focus a,
#root .ant-pagination-item-active:hover a {
    border-color: #9b32ba;
    color: #9b32ba;
} */

.icon {
    display: flex;
    justify-content: left;
}

#root .ant-pagination,
#root .ant-table-pagination {
    display: none;
}

@media only screen and (max-width: 900px) {
    #form-component .pad-content {
        padding-left: 1%;
        padding-right: 1%;
    }
}
