#root .ant-layout-footer {
    background: #39393a;
    padding-left: 18%;
    padding-right: 18%;
    color: rgba(255, 255, 255, 0.86);
    font-size: 14px;
    line-height: 200%;
}

@media only screen and (max-width: 900px) {
    .ant-layout-footer {
        padding-left: 9% !important;
        padding-right: 9% !important;
    }
}