.header-bar {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 80px;
    position: fixed;
    box-shadow: 0.5px 0.5px 1px #5e6062;
    z-index: 1;

}

.header-title {
    font-size: 14px;
    line-height: 1.5rem;
    color: #111111;
}

.hamburger-menu {
    height: 100%;
    width: 100%;
    top: 71px;
    z-index: 99;
    position: fixed;
    background-color: #ffffff;
}

.hamburger-menu {
    -webkit-transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

    font-weight: 500 !important;
    
}

ul.ant-menu-inline > li > a {
    color: #9b32ba !important;
    background: transparent;
}

@media only screen and (max-width: 900px) {
    #root li.ant-menu-item,
    #root .ant-menu-item,
    #root .ant-menu-submenu-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        box-shadow: 0.5px 0.5px 1px #5e6062;
        margin: 0;
    }
}

ul.ant-menu-inline > li > div,
ul.ant-menu-inline > li,
ul.ant-menu-inline > li > ul > li {
    color: #9b32ba !important;
    background: #ffffff;
}

ul.ant-menu-inline > li > ul > .ant-menu-item:active,
ul.ant-menu-inline
    > li
    > ul
    > .ant-menu-submenu-title:active
    ul.ant-menu-inline
    > li
    > .ant-menu-item:active,
ul.ant-menu-inline > li > .ant-menu-submenu-title:active {
    background-color: #fff1fb !important;
}

.ant-menu-submenu-vertical
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical-left
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical-right
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:after,
.ant-menu-submenu-inline
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:before,
.ant-menu-submenu-vertical-left
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:before,
.ant-menu-submenu-vertical-right
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:before,
.ant-menu-submenu-inline
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow:before {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#9b32ba),
        to(#9b32ba)
    );
    background: -webkit-linear-gradient(left, #9b32ba, #9b32ba);
    background: linear-gradient(to right, #9b32ba, #9b32ba);
}

.header-title-micro {
    font-size: 18px;
    font-weight: 600;
}

.header-img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

.header-hamburger {
    display: none;
    color: #9b32ba;
}


@media only screen and (max-width: 900px) {
    .header-title-micro {
        font-size: 14px;
        font-weight: 500;
    }

    .header-title {
        font-size: 12px;
        line-height: 1rem;
    }

    .header-bar {
        box-shadow: 0.5px 0.5px 1px #5e6062;
        padding: 0 15px;
    }

    .header-hamburger {
        display: block;
        cursor: pointer;
    }

    .ant-layout-header {
        display: none !important;
    }

    .header-logout {
        display: none;
    }
}
