.title {
    text-align: center;
    font-family: "kanit", sans-serif;
    font-size: 20px;
    color: #9b32ba;
}

.detail,
.detail > p {
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgb(92, 92, 92);
}

.pad-before-content {
    padding-top: 5%;
}

@media only screen and (max-width: 900px) {
    .detail,
    .detail > p {
        padding-left: 5%;
        padding-right: 5%;
    }
}