#admin-addstaff .form {
    padding: 3rem 18%;
}

#admin-addstaff .title {
    font-size: 24px;
    padding: 0;
    margin-bottom: 15px;
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
}

#admin-addstaff .form-button {
    margin-top: 6px;
    margin-bottom: 10px;
    width: 100%;
    /* background-color: #9b32ba; */
    border: 0px;
    /* color: #ffffff; */
    /* border-color: #9b32ba; */
}
#admin-addstaff .ant-select-selection {
    font-family: "kanit", sans-serif;
    font-size: 14px;
}

#admin-addstaff .ant-col-4 {
    width: 25%;
}

#admin-addstaff .ant-col-18 {
    width: 75%;
}

#title {
    color: #9b32ba;
    font-size: 18px;
    line-height: 3;
}

#admin-addstaff .pre-line {
    white-space: pre-line;
}

@media only screen and (max-width: 900px) {
    #admin-addstaff .ant-col-4 {
        width: 100%;
        text-align: left;
    }

    #admin-addstaff .ant-col-18 {
        width: 100%;
    }
}