#root .ant-card-actions {
    border-radius: 0 0 15px 15px;
}

.ant-card-actions > li {
    /* color: rgba(255, 139, 52, 1); */
    color: #9b32ba;
}

#edit {
    background-color: #1890ff;
    color: #ffffff;
    width: 50%;
}

#edit:hover,
#delete:hover {
    border: 0px;
}

#delete {
    background-color: #ff7f34;
    color: #ffffff;
    width: 50%;
}