.staff-info {
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    background: #ffffff;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-left : 15%;
}

.staff-img {
    width: 210px;
    height: 300px;
}

.staff-contact {
    width: 50%;
    display: block;
    justify-content: left;
    font-size: 14px;
    line-height: 2;
    color: #c674df;
    float: left;
    padding-left : 10%;
    padding-top : 6%;
}

.staff-detail {
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    margin-top: 5%;
    margin-left : 15%;
    padding: 7%;
    background: #ffffff;
    width: 70%;
    height: 100%;
    display: block;
    justify-content: center;
}

.pre-line {
    white-space: pre-wrap;
}

#add-pad {
   padding-top: 2%;
}

#topic {
    color: #9b32ba;
    font-size: 18px;
    line-height: 2;
}

#detail {
    padding-left: 5%;
    padding-right: 5%; 
}

.staff-name {
    font-size: 18px;
    line-height: 1.4;
    text-shadow: 1px 1px rgb(235, 235, 235);
    color: #9b32ba;
}
.staff-name-eng {
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 2%;
    text-shadow: 1px 1px rgb(235, 235, 235);
    color: #c674df
}

#root hr {
    margin: 10px 0px 20px 0px;
    color: #c674df;
    border: none;
}

@media only screen and (max-width: 768px) {
    .staff-detail, .staff-info {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .staff-img {
        width: 125px !important;
        height: 200px;
        
    }

    .staff-contact {
        padding-left: 10px;
        width: 60%;
        font-size: 12px !important;
        padding-top: 0px;
        
    }

    .staff-info {
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        padding-top: 20px;
        height: 225px;
        padding-bottom: 20px;
    }
}