#admin-addform .form {
    padding: 3rem 25%;
}

#admin-addform .title {
    font-size: 24px;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

#admin-addform .title-form {
    display: flex;
    justify-content: space-between;
}

#admin-addform .form-button {
    margin-top: 6px;
    margin-bottom: 10px;
    width: 100%;
    /* background-color: #9b32ba; */
    border: 0px;
    /* color: #ffffff; */
    /* border-color: #9b32ba; */
}
