@import url("https://fonts.googleapis.com/css?family=Kanit");



#root .primary-color-text {
    color: #9b32ba;
}

.App {
    text-align: left;
    font-family: "Kanit", sans-serif;
    font-size: 14px;
}

.title {
    text-align: center;
    font-family: "kanit", sans-serif;
    font-size: 20px;
    color: #9b32ba;
    text-shadow: 1px 1px #dededf;
    padding: 20px;
}

.ant-form-item, .ant-upload {
    font-family: "kanit", sans-serif !important;
}

#root .ant-layout-header {
    background: #9b32ba;
    display: flex;
    justify-content: center;
    height: 51px;
    z-index: 1;
}

.pad-before-content {
    padding-top: 5%;
}

#root .ant-layout-content {
    /* padding: 0 calc(10%); */
    margin-bottom: 48px;
    margin-top: 121px;    
}

@media only screen and (max-width: 900px) {
    #root .ant-layout-content {
        margin-top: 71px !important;
        padding: 0;
    }
}

ul.ant-menu-vertical > .ant-menu-item-selected > a,
ul.ant-menu-vertical > .ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover{
    color: #9b32ba !important;
}

ul.ant-menu-horizontal > li.ant-menu-item > a:hover {
    color: #ffffff !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu-vertical .ant-menu-item-selected,
ul.ant-menu-vertical > .ant-menu-item:active,
ul.ant-menu-vertical > .ant-menu-submenu-title:active {
    background-color: #fff1fb !important;
}

#root li.ant-menu-item,
#root .ant-menu-item,
#root .ant-menu-submenu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.ant-menu-item > a:hover {
    color: #9b32ba !important;
}

#root .ant-menu {
    font-family: "Kanit", sans-serif;
    color: #ffffff;
    background: #9b32ba;
}

#root .ant-menu-horizontal,
#root .ant-menu-submenu-horizontal {
    border-bottom: 0px solid #e8e8e8;
    margin: 0;
}

#root .ant-menu-item,
#root .ant-menu-item > a,
#root .ant-menu-submenu-title > a,
#root .ant-menu-submenu-title:hover {
    font-family: "Kanit", sans-serif;
    color: #ffffff;
    margin: 0;
}

#root .ant-menu-item-selected,
#root .ant-menu-item-active,
#root .ant-menu-submenu-open,
#root .ant-menu-submenu-selected,
#root .ant-menu-submenu-active {
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
}

@media screen and (max-width: 1120px) {
}

.loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(left, #ba68c8, #4a148c); */
    background-color: #eceff1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.loader:empty {
    /* position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em); */
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(236, 23, 155, 0.2);
    border-left: 1.1em solid #9b32ba;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
