.full-width-content {
    line-height: 500px;
}

.bg-1 {
    background-color: #ffffff;
}

.bg-2 {
    background-color: #efefef;
}

.program-content {
    line-height: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: center;
    padding: 145px 30px;
}

.program-mobile {
    display: none;
}

.program-header-title {
    font-weight: 200 !important;
    font-size: 28px;
    text-align: center;
}

.program-subheader-title {
    font-weight: 200 !important;
    font-size: 24px;
    text-align: center;
    color: #111111;
}

.program-img > img {
    width: 100%;
    height: 500px;
}

.program-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.program-button > button.ant-btn-lg {
    padding: 0 50px;
    font-size: 20px;
    height: 60px;
    border-radius: 30px;
    color: #9b32ba;
    border-color: #9b32ba;
    background: transparent;
}

.program-button > button.ant-btn-lg:hover {
    color: #9b32ba;
    border-color: #9b32ba;
    transform: scale(1.1);
}

#program > .ant-layout-content {
    margin-bottom: 0px !important;
}

@media only screen and (max-width: 767px) {
    .program-content {
        padding: 100px 10px;
    }

    .full-width-content {
        display: inline-block;
    }

    .program-web {
        display: none;
    }

    .program-mobile {
        display: inline-block;
    }

    .full-width-content {
        height: 600px;
    }

    .program-img > img {
        height: 230px !important;
    }

    #program > .ant-layout-content {
        margin-bottom: 64px !important;
    }

}


