#admin-staff .form {
    padding: 3rem 18%;
}

#admin-staff .title {
    font-size: 24px;
    padding: 0;
    margin-bottom: 15px;
    /* padding-right: 10%; */
    display: flex;
    justify-content: flex-start;
}

#admin-staff .title-staff {
    display: flex;
    justify-content: space-between;
}
